.nav-item{
    display:flex;
    align-items: center;
    height: 3em;
    justify-content: center;
    min-width: 20em;
    text-transform: capitalize;
}

.nav-item:hover:not(.active){
    background-color:#7cb7fb;
}

.active{
    background-color: #107eff;
    color: white;
}